<table class="meter-reading">
    <tr>
        <th width="40%"></th>
        <th width="30%">Пред.</th>
        <th>Тек.</th>
    </tr>
    <tr>
        <td><b>День: </b></td>
        <td>
            <input
                    type="number"
                    min="0"
                    ng-model="payment.prevMeter[0]"
                    name="dayPrev"
                    class="form-control prev happ-form-control"
                    ng-model-options='{ debounce: 1000 }'
                    autocomplete="off"
                    ng-change="changed()">
        </td>
        <td>
            <input
                    type="number"
                    min="0"
                    ng-model="payment.curMeter[0]"
                    name="dayCur"
                    class="form-control cur happ-form-control"
                    ng-model-options='{ debounce: 1000 }'
                    autocomplete="off"
                    ng-change="changed()">
        </td>
    </tr>
    <tr>
        <td><b>Ночь: </b></td>
        <td>
            <input
                    type="number"
                    min="0"
                    ng-model="payment.prevMeter[1]"
                    name="nightPrev"
                    class="form-control prev happ-form-control"
                    ng-model-options='{ debounce: 1000 }'
                    autocomplete="off"
                    ng-change="changed()">
        </td>
        <td>
            <input
                    type="number"
                    min="0"
                    ng-model="payment.curMeter[1]"
                    name="nightCur"
                    class="form-control cur happ-form-control"
                    ng-model-options='{ debounce: 1000 }'
                    autocomplete="off"
                    ng-change="changed()">
        </td>
    </tr>
</table>