<section id="add-apartment">
    <h2 class="col-md-12">Добавить Квартиру</h2>
    <div class="error col-md-12" ng-bind="error" ng-show="error"></div>
    <form name="addApartment" class="col-md-offset-3 col-md-6 happ-form" test>
        <div class="happ-form-group col-md-6 col-sm-12 city">
            <select
                    class="test-happ-form-control form-control"
                    name="city"
                    id="city"
                    ng-model="apartment.address.city"
                    required
                    ng-options="city.name for city in cities"
                    ng-change="changeCity()">
                <option value="" disabled selected>Выбирите город</option>
            </select>
        </div>
        <div class="happ-form-group col-md-6 col-sm-12">
            <street-select></street-select>
        </div>
        <div class="happ-form-group col-md-6 col-sm-12"
             ng-class="addApartment.house.$viewValue.length > 0 ? 'is-active' : ''">
            <label class="float-label">Дом</label>
            <input type="text"
                   class="test-happ-form-control form-control"
                   id="house"
                   name="house"
                   autocomplete="off"
                   ng-focus="setFocus('house')"
                   ng-blur="setBlur('house')"
                   required
                   ng-disabled="!apartment.address.street"
                   placeholder="Номер дома..."
                   ng-model="apartment.address.house"/>
        </div>
        <div class="happ-form-group col-md-6 col-sm-12"
             ng-class="addApartment.apartment.$viewValue.length > 0 ? 'is-active' : ''">
            <label class="float-label">Квартира</label>
            <input type="number"
                   class="test-happ-form-control form-control"
                   required
                   name="apartment"
                   autocomplete="off"
                   ng-focus="setFocus('apartment')"
                   ng-blur="setBlur('apartment')"
                   min="1"
                   ng-disabled="!apartment.address.street"
                   placeholder="Номер квартиры..."
                   id="apartment"
                   ng-model="apartment.address.apartment"/>
        </div>
        <div class="col-md-12 buttons">
            <input type="button" class="btn btn-success" value="Добавить" ng-click="add()" ng-disabled="addApartment.$invalid"/>
        </div>
    </form>
</section>