<section id="add-payment" class="container-fluid">
    <h2>Добавить оплату</h2>
    <div class="error col-md-12" ng-bind="error" ng-class="error ? 'show-error' : ''"></div>
    <div apartment="apartment"></div>
    <div class="row">
        <div class="col-md-2 info">
            <label for="type">Сервис:</label>
            <select name="type"
                    id="type"
                    ng-model="type"
                    class="form-control happ-form-control"
                    ng-change="chooseServiceType(type)"
                    ng-options="(type.name | camelCase) for type in types">
                <option value="" disabled selected>Выберите сервис...</option>
            </select>
        </div>
        <div class="row" ng-show="services.length > 1">
            <div class="col-md-2 info">
                <label for="service">Выбрать сервис:</label>
                <select name="service"
                        id="service"
                        ng-model="payment.service"
                        class="form-control happ-form-control"
                        ng-options="service.name for service in services">
                </select>
            </div>
        </div>
    </div>
    <article class="service happ-form col-md-offset-3 col-md-6" ng-show="service || payment.service || type.group == 'MAINTENANCE' || type.group == 'OTHER'" service-payment>
        <h3>Платёжная информация</h3>
        <maintenance-service></maintenance-service>
        <div class="col-md-12 buttons">
            <input type="button" class="btn btn-success" value="Добавить" ng-click="addPayment()" ng-disabled="paymentForm.$invalid">
        </div>
    </article>
</section>