<section id="all" class="container-fluid">
    <div class="col-md-12 statistic-info">
        <form class="col-md-8">
            <div class="form-inline">
                <label for="year">Год:</label>
                <select
                        name="year"
                        id="year"
                        ng-model="currentYear"
                        ng-options="year for year in years"
                        class="form-control happ-form-control">
                </select>
            </div>
            <input type="button" class="btn btn-sm btn-info happ-btn" ng-click="showNewStatistic()" value="Показать">
        </form>
    </div>
    <div ng-include="'/app/payment/statistic-info.html'"></div>
    <section ng-show="payments.length == 0">
        <h2>У вас нет платежей за этот год</h2>
    </section>
</section>