<section id="unpaid" class="container-fluid">
    <apartment-info address="address"></apartment-info>
    <div class="unpaid-info col-md-12" ng-hide="payments.length > 0">
        <h2>Поздравляем, у вас нет неоплаченых счетов.</h2>
    </div>
    <div ng-show="payments.length > 0">
        <h2>Информация о платежах</h2>
        <div class="error col-md-12" ng-bind="error" ng-show="error"></div>
        <table class="table col-md-12">
            <tr>
                <th>Сервис</th>
                <th>Информация</th>
                <th>Тариф</th>
                <th>Дата</th>
                <th>Сумма</th>
                <th>Показания</th>
                <th>Л.С.</th>
                <th></th>
            </tr>
            <tr ng-repeat="payment in payments">
                <td ng-bind="payment.service.name"></td>
                <td ng-bind="payment.service.type.name | camelCase"></td>
                <td ng-bind="payment.service.rates | showArray"></td>
                <td ng-bind="payment.paymentDate | dateFilter"></td>
                <td ng-bind="payment.paymentSum"></td>
                <td ng-bind="payment | paymentMeterFilter"></td>
                <td ng-bind="payment.personalAccount"></td>
                <td ng-hide="payment.paid">
                    <input type="button" class="btn btn-sm btn-success" value="Paid" ng-click="setPaid(payment.id)">
                </td>
            </tr>
        </table>
    </div>
</section>