<div class="service-data">
    <article class="service-info" ng-show="previousPayment">
        Информация о предыдущей оплате
        <ul>
            <li><b>Имя сервиса:</b> {{previousPayment.service.name}}</li>
            <li><b>Сумма оплаты:</b> {{previousPayment.paymentSum}}</li>
            <li ng-show="previousPayment.service.volumes && previousPayment.service.volumes.length > 0"><b>Метраж квартиры:</b> {{previousPayment.service.volumes[0]}}</li>
            <li ng-show="previousPayment.service.rates && previousPayment.service.rates.length > 0"><b>Тариф (1 м<sup>3</sup>):</b> {{previousPayment.service.rates[0]}}</li>
            <li><b>Лицевой счёт</b> {{previousPayment.personalAccount}}</li>
        </ul>
        <input type="button" class="btn btn-warning" value="Использовать" ng-click="userPreviousData()">
    </article>
    <form name="paymentForm" class="col-md-12 payment-form">
        <table>
            <tr>
                <td><b>Имя сервиса:</b></td>
                <td><input
                        type="text"
                        ng-model="payment.service.name"
                        id="serviceName"
                        name="serviceName"
                        autocomplete="off"
                        required
                        maxlength="50"
                        class="form-control happ-form-control">
                    <div validation-messages
                         model-controller="paymentForm.serviceName"
                         messages="validationMessage"></div>
                </td>
            </tr>
            <tr>
                <td><b>Лицевой счёт:</b></td>
                <td>
                    <input type="text"
                           ng-model="payment.personalAccount"
                           id="personalAccount"
                           name="personalAccount"
                           class="form-control happ-form-control">
                </td>
            </tr>
            <tr ng-show="payment.service.rates && payment.service.rates.length > 0">
                <td>
                    <b>Метраж квартиры:</b>
                </td>
                <td>
                    <input
                            type="number"
                            min="1"
                            max="500"
                            ng-model="payment.service.volumes[0]"
                            id="footage"
                            name="footage"
                            autocomplete="off"
                            class="form-control happ-form-control has-feedback"
                            ng-model-options='{ debounce: 1000 }'
                            ng-change="countMaintenanceSum()">
                    <div validation-messages
                         model-controller="paymentForm.footage"
                         messages="validationMessage"></div>
                </td>
            </tr>
            <tr ng-show="payment.service.rates && payment.service.rates.length > 0">
                <td>
                    <b>Тариф:</b>
                </td>
                <td>
                    <input
                            type="number"
                            min="0.01"
                            ng-model="payment.service.rates[0]"
                            id="rate"
                            name="rate"
                            autocomplete="off"
                            class="form-control happ-form-control has-feedback"
                            ng-model-options='{ debounce: 1000 }'
                            ng-change="countMaintenanceSum()">
                </td>
            </tr>
            <tr>
                <td>
                    <b>Сумма оплаты:</b>
                </td>
                <td>
                    <input
                            type="number"
                            min="0.01"
                            ng-model="payment.paymentSum"
                            class="form-control happ-form-control"
                            name="sum"
                            autocomplete="off"
                            required>
                    <div validation-messages
                         model-controller="paymentForm.sum"
                         messages="validationMessage"></div>
                </td>
            </tr>
        </table>
        <div class="paid">
            <div class="col-md-3">
                <div class="form-group">
                    <div class="squaredFour">
                        <input type="checkbox" value="true" id="squaredFour" name="paid"
                               ng-model="payment.paid"/>
                        <label for="squaredFour"></label>
                    </div>
                    <label>Оплачено</label>
                </div>
            </div>
            <div class="input-group col-md-9">
                <input type="text" ng-model="payment.paymentDate" class="form-control" datepicker-popup="dd/MM/yyyy"
                       max-date="today" is-open="status.opened" ng-required="true" close-text="Close">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
    </form>
</div>
