<div class="service-data">
    <article class="previous-payments-list" ng-show="previousPayments">
        <div class="form-group">
            <label>Предыдущие платежи</label>
            <select
                    ng-model="previousPayment"
                    class="form-control happ-form-control"
                    ng-options="previousPayment.service.type.subtypes[0].name for previousPayment in previousPayments">
                <option value="" disabled selected>Выберите платёж...</option>
            </select>
        </div>
    </article>
    <article class="service-info" ng-show="previousPayment">
        Информация о предыдущей оплате
        <ul>
            <li><b>Имя сервиса:</b> {{previousPayment.service.name}}</li>
            <li><b>Сумма оплаты:</b> {{previousPayment.paymentSum}}</li>
            <li><b>Лицевой счёт:</b> {{previousPayment.personalAccount}}</li>
        </ul>
        <input type="button" class="btn btn-warning" value="Использовать" ng-click="userPreviousData()">
    </article>
    <form name="paymentForm" class="col-md-12 payment-form">
        <table>
            <tr>
                <th>Тип сервиса:</th>
                <td><select
                        ng-model="payment.service.type.subtypes[0]"
                        class="form-control happ-form-control"
                        required
                        ng-options="(subtype.name | camelCase) for subtype in type.subtypes">
                    <option value="" disabled selected>Выберите тип сервиса</option>
                </select></td>
            </tr>
            <tr>
                <td><b>Имя сервиса:</b></td>
                <td><input
                        type="text"
                        ng-model="payment.service.name"
                        id="serviceName"
                        name="serviceName"
                        autocomplete="off"
                        required
                        maxlength="50"
                        class="form-control happ-form-control">
                    <div validation-messages
                         model-controller="paymentForm.serviceName"
                         messages="validationMessage"></div>
                </td>
            </tr>
            <tr>
                <td><b>Лицевой счет:</b></td>
                <td><input type="text"
                           ng-model="payment.personalAccount"
                           id="personalAccount"
                           name="personalAccount"
                           autocomplete="off"
                           maxlength="16"
                           class="form-control happ-form-control">
                    <div validation-messages
                         model-controller="paymentForm.personalAccount"
                         messages="validationMessage"></div>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Сумма оплаты:</b>
                </td>
                <td>
                    <input
                            type="number"
                            min="0.01"
                            ng-model="payment.paymentSum"
                            class="form-control happ-form-control"
                            name="sum"
                            autocomplete="off"
                            required>
                    <div validation-messages
                         model-controller="paymentForm.sum"
                         messages="validationMessage"></div>
                </td>
            </tr>
        </table>
        <div class="paid">
            <div class="col-md-3">
                <label for="paid">Оплачено</label>
                <input type="checkbox" value="true" ng-model="payment.paid" id="paid" name="paid">
            </div>
            <div class="input-group col-md-9">
                <input type="text" ng-model="payment.paymentDate" class="form-control" datepicker-popup="dd/MM/yyyy"
                       max-date="today" is-open="status.opened" ng-required="true" close-text="Close">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
    </form>
</div>