<div class="service-data">
    <form name="paymentForm">
        <div class="row peronal-account">
            <div class="col-md-3 col-md-offset-2">
                <label>Лицевой счёт:</label>
            </div>
            <div class="col-md-6">
                <input type="text"
                       class="form-control happ-form-control"
                       ng-model="payment.personalAccount"
                        placeholder="Введите лицевой счёт">
            </div>
        </div>
        <div class="row meter-type" ng-show="service.type.alias == 'electricity'">
            <div class="col-md-3 col-md-offset-2">
                <label>Тип счётчика:</label>
            </div>
            <div class="col-md-6">
                <select
                        ng-model="payment.meterType"
                        class="form-control happ-form-control"
                        ng-change="changeMeterType(payment.meterType)"
                        ng-options="meterType.name as meterType.alias for meterType in meterTypes">
                </select>
            </div>
        </div>
        <div class="meter-data row"></div>
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                <label>Сумма оплаты:</label>
            </div>
            <div class="col-md-6">
                <input type="number"
                       min="0.01"
                       required
                       ng-model="payment.paymentSum"
                       placeholder="Введите сумму оплаты"
                       class="form-control happ-form-control"
                       name="sum">
            </div>
        </div>
        <div class="row paid">
            <div class="col-md-3 col-md-offset-2">
                <div class="form-group">
                    <label>Оплачено</label>
                    <div class="squaredFour">
                        <input type="checkbox" value="true" id="squaredFour" name="paid"
                               ng-model="payment.paid"/>
                        <label for="squaredFour"></label>
                    </div>
                </div>
            </div>
            <div class="input-group col-md-6">
                <input type="text" ng-model="payment.paymentDate" class="form-control happ-form-control"
                       placeholder="Выберите дату оплаты"
                       datepicker-popup="dd/MM/yyyy" max-date="today" is-open="status.opened" ng-required="true" close-text="Close">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>
    </form>
</div>